.qnawrite-table {
    width: 800px;

    font-size: 24px;
}

thead th {
   padding-bottom: 30px;
}

tbody th {
    margin:0;
    width: 100px;
    padding: 5px 30px;
    
}

tbody td {
    width: 100%;
    padding: 5px;
}

tbody th {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: right;
}

tbody input, textarea {
    border: 2px solid;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;

    font-size: 24px;
}

tbody textarea {
    height: 300px;

    resize: none;
}


.tfoot-menu2 {
    text-align: center;
}

.tfoot-menu2 button {
    border-radius: 10px;

    width: 150px;
    height: 60px;

    font-size: 24px;

    background-color: rgba(0, 0, 0, 0);
}