@charset "UTF-8";

.details1 {
	text-align: center;
	padding: 30px;
	margin: 30px;
}

.dot {
	height: 100px;
	line-height: 50px;
	display: inline-block;
	margin: 30px;
	text-align: left;
}

.option {
	margin-bottom: 30px;
}
#size-select{
	width:200px;
	font-size:15px;
	text-align: center;
}
.count{
	text-align: left;
	
}

#input-num{
	width: 4em;
	height: 2em;
	text-align: center;
}
.select{
	display: inline-block;
}

#btn-group button {
	font-size: 20px;
	padding: 15px 30px;
	margin: 10px -5px;
}

#btn1 {
	background-color: #000;
	color: #fff;
}

#btn1:hover {
	background: #FE2E2E;
}

.details2 {
	padding: 30px;
	margin: 30px;
}

.dot2 {
	margin: 30px;
}

.p-img {
	text-align: center;
}

.details-title {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

.details-text {
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 50px;
	color: #757575;
	line-height: 21px;
	
	max-width: 600px;
	margin:0 auto 50px; 
	
}

.p-info1 ul {
	border-bottom: 1px solid #000;
}

.p-info1 li {
	display: inline-block;
	width: 15%;
	text-align: center;
	font-size: 12px;
	line-height: 22px;
	height: 22px;
}
.p-info2 li {
	display: inline-block;
	width: 15%;
	text-align: center;
	font-size: 12px;
	line-height: 22px;
	height: 22px;
}