#detail-img {
  text-align: center;

}

#b-box {
  display: column;

}

#review, #qna{
display : inline;
margin-bottom : 100px;
}


#r {
  text-align: right;
}

#l {
  text-align: left;
  
}

#but-w, #but-l {
  border : none;
  background-color: white;
}

#but-w:hover{
 color : gray; 
}

#but-l:hover{
  color : gray; 
}



#review {
  display: flex;
  justify-content: space-around;
}
#qna {
  display: flex;
  justify-content: space-around;
}
