@charset "UTF-8";
*{
    box-sizing: border-box;
}
input{
    border: 1px solid rgb(198, 198, 198);
    outline: none;
    padding: 10px;
    
    width: 100%;
}
input:focus{
    border: 1px solid black;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
.account-container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section{
    margin-right: 10px;
    width: 512px;
}
.account-subtitle{
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(198, 198, 198);
    padding-bottom: 20px;
  
    font-size:16px;
 }
.find-password-link{
    display: flex;
    justify-content: end;
    margin-bottom: 120px;
    color: rgb(127, 127, 127);
}
.account-content{
    margin:20px 0px;
}
.account-input{
    margin-bottom: 15px;
}
.account-button{
    display: block;
    margin-bottom: 10px;
    height : 50px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}
.account-new{
    display: flex;
    height: 500px;
}
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
    margin: 15px 0px;
}
.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}
