@charset "utf-8";

* {
	margin : 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color:black;
}
ul,li {
	list-style: none;
}
#container{
	display : flex;
	flex-direction: column;
	
}
.right-side{
	width: 100%;
	height: 100px;
	background-color: rgba(0, 0, 0, 0);
	
}
.right-side .right-menu ul li{
	display: inline-block;
	margin-right: 15px;
	margin-top: 30px;
}
.right-menu{
	text-align: right;
}
.left-side{
	display: flex;
	width: 200px;
	background-color: rgba(0, 0, 0, 0);
}
.left-side .big_menu .small_menu{
	display: none;
}
.left-side .big_menu li:hover .small_menu{
	display: block;
	position: relative;
}
.big_menu li:not(.small_menu li){
	margin-bottom: 20px;
}
