@charset "utf-8";

* {
	margin : 0;
	padding : 0;
}

li {
	list-style : none;
	background : white;
}
a{
	text-decoration: none;
	color : inherit;
}
h3{
	font: italic bold 40px consolas, sans-serif;
}
i{
    margin: 2px 10px 0px 3px;
    font-size: 20px;
}

#menu1 .main .headeri{
    width: 100%;
    text-align: right;
}

#menu1 {
	width: 100%;
	height : 50px;
}

#menu1 ul{
	width: 100%;
	position:relative;
}
#menu1 .main >li{
	float : left;
	width : 10%;
	height : 50%;
	line-height : 50px;
	text-align : center;
	background : white;
}

#menu1 .main>li:hover .menu2{
	display:block;
}
#menu1 .main>li:hover .sub{
	display : block;
	background : white;
}
#menu1 .main>li a{
	display : block;
}
#menu1 .main>li a:hover{
	background : white;
	text-decoration: underline; 
	text-underline-position:under;
}
#menu1 .menu2{
	position : absolute;
	top: 50px;
	left: 0;
	width: 50%;
	display: none;
	border-top: solid 1px gray;
	z-index:200;
}
#menu1 .main .sub{
	float:left;
	width:25%;
}
#menu1 .main .sub li{
	background : white;
}
#menu1 .main .sub li a:hover {
	background: #E2E2E2;
}

.product-list  {
	width:1500px;
	margin-left : 255px;
	margin-right :	255px;
}
.product-list span{
	font-size:small;
}
.product {
	width: 225px;
	text-align: left;
	display:block;
	color: #545454;
	text-decoration:none;
	float:left;
	margin-right : 120px;
}
.product-name {
	margin-top: 10px;
}
.product-price{
	margin-bottom:15px;
}
.kategorie {
	margin-left : 255px;
	margin-top : 70px;
	margin-bottom : 10px;
}