* {
    box-sizing: border-box;
}
html, body {
    margin: 0px;
    height: 100%;
}
.container {
    width: 100%;
    
    margin-top: 50px;

}
.review {
    display: flex;
    flex-direction: column;

    margin: 30px 100px;
}
.review-title{
    text-align: center;
}

.review-table {
    display: flex;
    
    justify-content: space-around;
    align-items: center;

}
.review-table tfoot td{
    padding: 30px 0;
}
table {
    width: 800px;

    border-collapse: collapse;
    text-align: center;
}
table th{
    border-top: 1px solid #999494;
    border-bottom: 1px solid #999494;
}
button {
    float: right;
    border : none;
    background-color: white;
    
}
button:hover {
    color: gray;
}

.search {
    display: flex;
    justify-content: center;
}
.search select {
    margin-left: 4px;
}
.search input {
    margin-left: 4px;
}
.search button {
    margin-left: 4px;
}
   
