@charset "UTF-8";
*{
    box-sizing: border-box;
}

.signup {
    margin-top: 40px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.signup field{
    margin-bottom : 5px;
}
.signup b{
    /* border: 1px solid #000; */
    display: block; /*수직 정렬하기 */
    margin-bottom: 5px;
}
.signup input{
    border: 1px solid #dadada;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    margin-bottom: 5px;
}
.signup input[type=button],
.signup input[type=submit]{
	background-color: gray ;
	color:#fff;
    font-weight:800px;
}
.placehold-text{
    display: block; /*span 으로 감싸서 크기영역을 블록요소로 만들어야한다*/
    position:relative;
    /* border: 1px solid #000; */
}

.placehold-text:before{ 
    position:absolute; /*before은 inline 요소이기 때문에 span으로 감싸줌 */
    right : 20px;
    top:13px;
    pointer-events: none; /*자체가 가지고 있는 pointer event 를 없애준다 */
}
.field.birth div{ /*field 이면서 birth*/
    display: flex;
    gap: 10px; /*간격 벌려줄때 공식처럼 사용핟나 */
}
.field.tel-number div {
    display: flex;
}

.field.tel-number div input:nth-child(1){
    flex:2;
}

.field.tel-number div input:nth-child(2){
    flex:1;
}

